$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-logosonno-logo-path1: "\e92d";
$icon-logosonno-logo-path2: "\e92e";
$icon-logosonno-logo-path3: "\e92f";
$icon-logosonno-logo-path4: "\e930";
$icon-logosonno-logo-path5: "\e931";
$icon-logosonno-logo-path6: "\e932";
$icon-logosonno-logo-path7: "\e933";
$icon-logosonno-logo-path8: "\e934";
$icon-logogracehome-logo-path1: "\e935";
$icon-logogracehome-logo-path2: "\e936";
$icon-logogracehome-logo-path3: "\e937";
$icon-logogracehome-logo-path4: "\e938";
$icon-logogracehome-logo-path5: "\e939";
$icon-logogracehome-logo-path6: "\e93a";
$icon-logogracehome-logo-path7: "\e93b";
$icon-logogracehome-logo-path8: "\e93c";
$icon-logogracehome-logo-path9: "\e93d";
$icon-logogracehome-logo-path10: "\e93e";
$icon-logoadd: "\e145";
$icon-logoremove: "\e15b";
$icon-logokeyboard_arrow_down: "\e313";
$icon-logokeyboard_arrow_left: "\e314";
$icon-logokeyboard_arrow_right: "\e315";
$icon-logokeyboard_arrow_up: "\e316";
$icon-logoarrow_back: "\e5c4";
$icon-logoarrow_forward: "\e5c8";
$icon-logoclose: "\e5cd";
$icon-logomenu: "\e5d2";
$icon-logoarrow_upward: "\e5d8";
$icon-logoarrow_downward: "\e5db";
$icon-logoperson: "\e7fd";
$icon-logostar: "\e838";
$icon-logostar_border: "\e83a";
$icon-logocheck_circle: "\e86c";
$icon-logodelete: "\e872";
$icon-logoexit_to_app: "\e879";
$icon-logofavorite: "\e87d";
$icon-logofavorite_border: "\e87e";
$icon-logosearch: "\e8b6";
$icon-logosettings: "\e8b8";
$icon-logoshopping_cart: "\e8cc";
$icon-logocard-payment-discount: "\e900";
$icon-logocard-payment: "\e901";
$icon-logocart: "\e902";
$icon-logocompany: "\e903";
$icon-logocontact-location: "\e904";
$icon-logocontact-phone: "\e905";
$icon-logocontact-whatsapp: "\e906";
$icon-logocross-cart: "\e907";
$icon-logodelivery-montage: "\e908";
$icon-logodelivery: "\e909";
$icon-logofacebook: "\e90a";
$icon-logoheart-cart: "\e90b";
$icon-logoinstagram: "\e90c";
$icon-logolinkedin: "\e90d";
$icon-logolocation: "\e90e";
$icon-logolock: "\e90f";
$icon-logologo-graca: "\e910";
$icon-logomenu2: "\e911";
$icon-logopersonal: "\e912";
$icon-logophone: "\e913";
$icon-logopinterest: "\e914";
$icon-logoreturning-delivery: "\e915";
$icon-logostore: "\e916";
$icon-logotrash-cart: "\e917";
$icon-logoyoutube: "\e918";
$icon-logosad: "\e919";
$icon-logosmile: "\e91a";
$icon-logopreloader-graca: "\e91b";
$icon-logouser-plus: "\e91c";
$icon-logouser: "\e91d";
$icon-logohome3: "\e91e";
$icon-logoservices-3d: "\e91f";
$icon-logoservices-confec: "\e920";
$icon-logoservices-consultancy: "\e921";
$icon-logoservices-delivery: "\e922";
$icon-logoservices-imperm: "\e923";
$icon-logoservices-measure: "\e924";
$icon-logoservices-paper: "\e925";
$icon-logoservices-renovation: "\e926";
$icon-logopreloader-minna: "\e927";
$icon-logologo-minna: "\e928";
$icon-logoh-messenger: "\e929";
$icon-logoh-whatsapp: "\e92a";
$icon-logologo-graca-fr: "\e92b";
$icon-logopreloader-graca-fr: "\e92c";
$icon-logodrawer: "\e95c";
$icon-logobubble: "\e96b";
$icon-logoenvelope-open: "\f2b6";

