<div class="form-wrp">
  <div class="grid-container">
    <form>
      <h2 class="text-center">Se preferir pode enviar uma mensagem</h2>
      <div class="grid-x grid-margin-x align-center-middle">
        <div class="cell medium-4 float-label">
          <input type="text" placeholder=" ">
          <label >Nome</label>
        </div>
        <div class="cell medium-4 float-label">
          <input type="email" placeholder=" ">
          <label >Email</label>
        </div>
        <div class="cell medium-4 float-label">
          <input type="text" placeholder=" ">
          <label >Apelido</label>
        </div>
        <div class="cell small-12 medium-8 float-label">
          <textarea height="90" rows="5" placeholder=" "></textarea>
          <label >A sua mensagem</label>
        </div>
        <div class="cell small-12 text-center">
          <button type="submit" class="cast button rounded small">Enviar Mensagem<i class="icon-arrow_forward"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>
