<div class="grid-container">
  <div class="grid-x align-center text-center">
    <div class="cell small-12 section-header">
      <h6>DE SEGUNDA A SEXTA, DAS 8:00 ÀS 18:00</h6>
      <h3><span>Tem dúvidas? Contacte-nos</span></h3>
    </div>
  </div>
  <div class="grid-x grid-margin-x align-center-middle icons-grid text-center">
    <div class="cell medium-4">
      <i class="icon-contact-location"></i>
      <h5>Rua da GNR, nº13 Guia, PBL</h5>
      <p>Vem visitar a nossa loja</p>
    </div>
    <div class="cell medium-4">
      <i class="icon-contact-phone"></i>
      <h5>236 950 027</h5>
      <p>Telefona para o nosso número fixo</p>
    </div>
    <div class="cell medium-4">
      <i class="icon-contact-whatsapp"></i>
      <h5>917662350</h5>
      <p>Encontra-nos no WhatsApp</p>
    </div>
  </div>
</div>
