<section class="featured-categories-alt">
  <div class="grid-container">
    <div class="grid-x grid-margin-x  grid-margin-y">
      <div class="cell medium-6">
        <h4>sala de estar</h4>
        <a class="bg-cover" href="lista-produtos.html" style="height:40rem;background:url(http://via.placeholder.com/760x760)no-repeat center center;">
          <span class="bg-trans"></span>
        </a>
      </div>
      <div class="cell medium-6">
        <div class="grid-y grid-margin-y">
          <div class="cell medium-6">
          <h4>sala de jantar</h4>
          <a class="bg-cover" href="lista-produtos.html" style="height:19rem;background:url(http://via.placeholder.com/760x380)no-repeat center center;">
            <span class="bg-trans"></span>
          </a>
          </div>
          <div class="cell medium-6">
            <div class="grid-x grid-margin-x grid-margin-y">
              <div class="cell medium-6">
                <h4>quartos </h4>
                <a class="bg-cover" href="lista-produtos.html" style="height:19rem;background:url(http://via.placeholder.com/760x760)no-repeat center center;">
                  <span class="bg-trans"></span>
                </a>
              </div>
              <div class="cell medium-6">
                <h4>Iluminação</h4>
                <a class="bg-cover" href="lista-produtos.html" style="height:19rem;background:url(http://via.placeholder.com/760x760)no-repeat center center;">
                  <span class="bg-trans"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
