<section class="featured-categories">
  <div class="grid-x grid-margin-x small-up-2 medium-up-4">
    <a href="lista-produtos.html" class="cell" style="background:url(http://via.placeholder.com/760x1024)no-repeat center center;">
      <h4 class="text-center">Sala de Estar</h4>
    </a>
    <a href="lista-produtos.html" class="cell" style="background:url(http://via.placeholder.com/760x1024)no-repeat center center;">
      <h4 class="text-center">Sala de Jantar</h4>
    </a>
    <a href="lista-produtos.html" class="cell" style="background:url(http://via.placeholder.com/760x1024)no-repeat center center;">
      <h4 class="text-center">Quartos</h4>
    </a>
    <a href="lista-produtos.html" class="cell" style="background:url(http://via.placeholder.com/760x1024)no-repeat center center;">
      <h4 class="text-center">Iluminação</h4>
    </a>
  </div>
</section>
