<section class="information-highlights">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center">
      <div class="cell medium-6">
        <div class="information-highlights-slider">
          <div>
            <div class="grid-x align-center-middle">
              <div class="cell large-6 title text-center large-text-left">
                <div class="grid-x align-center-middle">
                  <div class="cell auto">
                    <h5>INFORMAÇÕES 1</h5>
                  </div>
                </div>
              </div>
              <div class="cell large-6 info  text-center large-text-left">
                <p>
                  Estes anúncios podem ser alertas, avisos, promoções ou
                  informações relacionadas com o processo de encomenda,
                  portes de envio.
                </p>
              </div>
            </div>
          </div>
          <div>
            <div class="grid-x align-center-middle">
              <div class="cell large-6 title text-center large-text-left">
                <div class="grid-x align-center-middle">
                  <div class="cell auto">
                    <h5>INFORMAÇÕES 1</h5>
                  </div>
                </div>
              </div>
              <div class="cell large-6 info  text-center large-text-left">
                <p>
                  Estes anúncios podem ser alertas, avisos, promoções ou
                  informações relacionadas com o processo de encomenda,
                  portes de envio.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
