<div class="grid-x grid-margin-x align-center-middle payments-grid ">
  <div class="cell medium-6">
    <ul class="accordion" data-accordion data-allow-all-closed="true">
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">MÉTODOS DE PAGAMENTO</a>
        <div class="accordion-content" data-tab-content>
          <p>Lorem ipsum dolor</p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Segurança e Privacidade</a>
        <div class="accordion-content" data-tab-content>
          <p>Lorem ipsum dolor</p>
        </div>
      </li>
    </ul>
  </div>
</div>
