<section class="services">
  <div class="grid-container">
    <div class="grid-x align-center text-center">
      <div class="cell small-12 section-header">
        <h6>DE SEGUNDA A SEXTA, DAS 8:00 ÀS 18:00</h6>
        <h3><span>Conheça os nossos Serviços</span></h3>
      </div>
    </div>
  </div>
  <div class="grid-x grid-padding-x small-up-1 medium-up-4 large-up-8 align-center-middle text-center icons-grid" data-magellan data-threshold="200">
    <div class="cell">
      <a href="#projetos-3d"><i class="icon-services-3d"></i></a>
      <h5><a href="#projetos-3d">Projectos 3D</a></h5>
    </div>
    <div class="cell">
      <a href="#consultoria"><i class="icon-services-consultancy"></i></a>
      <h5><a href="#consultoria">Consultoria em Design de Interiores</a></h5>
    </div>
    <div class="cell">
      <a href="#mobiliario-personalizado"><i class="icon-services-measure"></i></a>
      <h5><a href="#mobiliario-personalizado">Mobiliário Personalizado</a></h5>
    </div>
    <div class="cell">
      <a href="#impermeabilizacao"><i class="icon-services-imperm"></i></a>
      <h5><a href="#impermeabilizacao">Impermeabilização</a></h5>
    </div>
    <div class="cell">
      <a href="#confecao"><i class="icon-services-confec"></i></a>
      <h5><a href="#confecao">Confecção</a></h5>
    </div>
    <div class="cell">
      <a href="#aplicacao-papel-parede"><i class="icon-services-paper"></i></a>
      <h5><a href="#aplicacao-papel-parede">Aplicação de Papel de Parede</a></h5>
    </div>
    <div class="cell">
      <a href="#obras-remodelacao"><i class="icon-services-renovation"></i></a>
      <h5><a href="#obras-remodelacao">Obras e remodelação</a></h5>
    </div>
    <div class="cell">
      <a href="#entrega-montagem"><i class="icon-delivery-montage"></i></a>
      <h5><a href="#entrega-montagem">Entrega e Montagem</a></h5>
    </div>
  </div>
  <div class="grid-x align-middle text-center medium-text-left">
    <div class="cell medium-6 small-order-1 medium-order-1">
      <img src="http://via.placeholder.com/1280x720">
    </div>
    <div class="cell medium-6 text-content small-order-2 medium-order-2" id="projetos-3d" data-magellan-target="projetos-3d">
      <div>
        <h3>Projectos 3D</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>

    <div class="cell medium-6 small-order-3 medium-order-4">
      <img src="http://via.placeholder.com/1280x720">
    </div>
    <div class="cell medium-6 text-content small-order-4 medium-order-3" id="consultoria" data-magellan-target="consultoria">
      <div>
        <h3>Consultoria em Design de Interiores</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>

    <div class="cell medium-6 small-order-5 medium-order-5">
      <img src="http://via.placeholder.com/1280x720">
    </div>
    <div class="cell medium-6 text-content small-order-6 medium-order-6" id="mobiliario-personalizado" data-magellan-target="mobiliario-personalizado">
      <div>
        <h3>Mobiliário Personalizado</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>

    <div class="cell medium-6 small-order-7 medium-order-8">
      <img src="http://via.placeholder.com/1280x720">
    </div>
    <div class="cell medium-6 text-content small-order-8 medium-order-7" id="impermeabilizacao" data-magellan-target="impermeabilizacao">
      <div>
        <h3>Impermeabilização</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>

    <div class="cell medium-6 small-order-9 medium-order-9">
      <img src="http://via.placeholder.com/1280x720">
    </div>
    <div class="cell medium-6 text-content small-order-10 medium-order-10" id="confecao" data-magellan-target="confecao">
      <div>
        <h3>Confecção</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>

    <div class="cell medium-6 small-order-11 medium-order-12">
      <img src="http://via.placeholder.com/1280x720">
    </div>
    <div class="cell medium-6 text-content small-order-12 medium-order-11" id="aplicacao-papel-parede" data-magellan-target="aplicacao-papel-parede">
      <div>
        <h3>Aplicação de Papel de Parede</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>

    <div class="cell medium-6 small-order-13 medium-order-13">
      <img src="http://via.placeholder.com/1280x720">
    </div>
    <div class="cell medium-6 text-content small-order-14 medium-order-14" id="obras-remodelacao" data-magellan-target="obras-remodelacao">
      <div>
        <h3>Obras e remodelação</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>

    <div class="cell medium-6 text-content small-order-16 medium-order-15" id="entrega-montagem" data-magellan-target="entrega-montagem">
      <div>
        <h3>Entrega e Montagem</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>
    <div class="cell medium-6 small-order-15 medium-order-16">
      <img src="http://via.placeholder.com/1280x720">
    </div>

  </div>
</section>
