<section class="template">
  <div class="cell section-header text-center">
    <h6>Full Width aligned center</h6>
    <h3><span>Vertical Banner</span></h3>
  </div>
  <div class="vertical-banner text-center">
    <div class="call-to-action">
    <h3>Title goes here</h3>
    <h5>and of small description</h5>
    <a href="#" class="hollow cast button rounded small">Saiba Mais</a>
    </div>
    <img src="http://via.placeholder.com/1920x920">
  </div>

  <div class="cell section-header text-center">
    <h6>Full Width aligned left</h6>
    <h3><span>Vertical Banner</span></h3>
  </div>
  <div class="vertical-banner text-left">
    <div class="call-to-action">
    <h3>Title goes here</h3>
    <h5>and of small description</h5>
    <a href="#" class="hollow cast button rounded small">Saiba Mais</a>
    </div>
    <img src="http://via.placeholder.com/1920x920">
  </div>

  <div class="cell section-header text-center">
    <h6>Full Width aligned right</h6>
    <h3><span>Vertical Banner</span></h3>
  </div>
  <div class="vertical-banner text-right">
    <div class="call-to-action">
    <h3>Title goes here</h3>
    <h5>and of small description</h5>
    <a href="#" class="hollow cast button rounded small">Saiba Mais</a>
    </div>
    <img src="http://via.placeholder.com/1920x920">
  </div>

  <div class="cell section-header text-center">
    <h6>New Module</h6>
    <h3><span>Featured Categories(2)</span></h3>
  </div>
  {{> featured-categories-2}}
  <div class="cell section-header text-center">
    <h6>New Module</h6>
    <h3><span>Featured Categories(3)</span></h3>
  </div>
  {{> featured-categories-3}}
  <div class="cell section-header text-center">
    <h6>Full Width Embeded</h6>
    <h3><span>Full Video</span></h3>
  </div>
  <div class="grid-x ">
    <iframe  width="560" height="315" src="https://www.youtube.com/embed/gC8ec_y6ewg" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="responsive-embed widescreen">
    <iframe  width="560" height="315" src="https://www.youtube.com/embed/gC8ec_y6ewg" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="cell section-header text-center">
    <h6>Old Module</h6>
    <h3><span>Featured Categories(1)</span></h3>
  </div>
  {{> featured-categories}}
  <div class="cell section-header text-center">
    <h6>Full Width</h6>
    <h3><span>Slider (w/video)</span></h3>
  </div>
  <div class="template-slider">
    <div>
      <img src="http://via.placeholder.com/1920x1080">
    </div>
    <div>
      <div class="responsive-embed widescreen">
        <iframe  width="560" height="315" src="https://www.youtube.com/embed/gC8ec_y6ewg" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div>
      <img src="http://via.placeholder.com/1920x1080">
    </div>
  </div>
  <div class="cell section-header text-center">
    <h6>Without grid-container</h6>
    <h3><span>Cover Image</span></h3>
  </div>
  <div class="cover-img text-center medium-text-left" style="background-image:url(http://via.placeholder.com/1920x768);background-size: cover;  background-position: center; background-repeat: no-repeat;">
    <h3>Title</h3>
    <h6>Subtitle</h6>
  </div>
  <div class="grid-container">
    <div class="grid-x align-center">
      <div class="cell section-header text-center">
        <h6>Container Width</h6>
        <h3><span>Slider</span></h3>
      </div>
      <div class="cell small-12 template-slider">
        <div>
          <img src="http://via.placeholder.com/1920x920">
        </div>
        <div>
          <img src="http://via.placeholder.com/1920x920">
        </div>
      </div>
      <div class="cell small-12 section-header text-center">
        <h6>With grid-container</h6>
        <h3><span>Cover Image</span></h3>
      </div>
      <div class="cover-img cell text-center medium-text-left" style="background-image:url(http://via.placeholder.com/1920x768);background-size: cover;  background-position: center; background-repeat: no-repeat;">
        <h3>Title</h3>
        <h6>Subtitle</h6>
      </div>
      <div class="cell small-12 section-header text-center">
        <h6>com popup</h6>
        <h3><span>Galeria de Imagens</span></h3>
      </div>
      <div class="cell small-12">
        <div class="img-gallery grid-x grid-margin-x small-up-2 medium-up-3 popup-gallery mfp-fade">
          <a class="cell" href="http://via.placeholder.com/768x768" title="alt">
            <img alt="alt" src="http://via.placeholder.com/768x768">
          </a>
          <a class="cell" href="http://via.placeholder.com/768x768" title="alt">
            <img alt="alt" src="http://via.placeholder.com/768x768">
          </a>
          <a class="cell" href="http://via.placeholder.com/768x768" title="alt">
            <img alt="alt" src="http://via.placeholder.com/768x768">
          </a>
          <a class="cell" href="http://via.placeholder.com/768x768" title="alt">
            <img alt="alt" src="http://via.placeholder.com/768x768">
          </a>
          <a class="cell" href="http://via.placeholder.com/768x768" title="alt">
            <img alt="alt" src="http://via.placeholder.com/768x768">
          </a>
          <a class="cell" href="http://via.placeholder.com/768x768" title="alt">
            <img alt="alt" src="http://via.placeholder.com/768x768">
          </a>
        </div>
      </div>
      <div class="cell small-12 section-header text-center">
        <h6>sem popup</h6>
        <h3><span>Galeria de Imagens</span></h3>
      </div>
      <div class="cell small-12">
        <div class="img-gallery grid-x grid-margin-x small-up-2 medium-up-3">
          <div class="cell">
            <img alt="alt" src="http://via.placeholder.com/768x768">
          </div>
          <div class="cell">
            <img alt="alt" src="http://via.placeholder.com/768x768">
          </div>
          <div class="cell">
            <img alt="alt" src="http://via.placeholder.com/768x768">
          </div>
          <div class="cell">
            <img alt="alt" src="http://via.placeholder.com/768x768">
          </div>
          <div class="cell">
            <img alt="alt" src="http://via.placeholder.com/768x768">
          </div>
          <div class="cell">
            <img alt="alt" src="http://via.placeholder.com/768x768">
          </div>
        </div>
      </div>
    </div>
    <div class="cell small-12 section-header text-center">
      <h6>Container Width</h6>
      <h3><span>Intro Module</span></h3>
    </div>
    <div class="intro-module">
      <div class="grid-x grid-margin-x">
        <div class="cell medium-auto show-for-medium">
        </div>
        <div class="cell text-center medium-shrink">
          <a href="lista-produtos.html" class="clear button rounded">
            <i class="icon-arrow_back"></i> VOLTAR
          </a>
        </div>
      </div>
      <div class="grid-x grid-margin-x">
        <!-- <div class="cell small-12 medium-2 text-center align-center-middle">
          <img alt="alt" src="http://via.placeholder.com/100x100">
        </div> -->
        <div class="cell small-12 medium-12">
          <h3>Tile</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <div class="cell small-12 section-header text-center">
        <h6>subtitulo ao centro</h6>
        <h3><span>Título ao centro</span></h3>
      </div>
      <div class="cell small-12 medium-8">
        <p class="text-justify">
          Nulla ultricies volutpat nisi, et viverra enim pharetra nec. Integer eget ante maximus augue condimentum faucibus a vitae quam. Nam volutpat mauris id porttitor faucibus. Ut sed est neque. Praesent eros metus, commodo id bibendum at, tempor vel metus. Vestibulum porttitor eu augue tristique fermentum. Sed a congue turpis. Sed augue urna, tempor id eleifend et, pulvinar at dolor. Aenean suscipit placerat cursus. Morbi eget sapien in mauris auctor maximus nec sed mi. Aliquam lorem purus, imperdiet sit amet feugiat dignissim, semper vitae orci. Nunc a orci non diam aliquam vestibulum a id erat.
        </p>
        <p class="text-justify">
          Maecenas gravida, augue quis aliquam maximus, nulla diam mollis nisi, nec venenatis ante nulla in sapien. Pellentesque ornare lectus ut massa mattis consequat. In in ex vel mauris egestas molestie vitae a orci. Fusce dapibus ut urna in vehicula. Proin sem nisi, dictum sit amet sagittis eget, ultricies a velit. Aliquam sodales sagittis nulla sit amet iaculis. Pellentesque ut ullamcorper ipsum, vel eicitur dui. Etiam mi enim, vehicula ac posuere et, pretium id enim. Etiam viverra neque quis urna bibendum, vel accumsan enim ullamcorper. Pellentesque rhoncus euismod ligula. Aliquam pellentesque est non interdum porttitor. Vivamus at dui metus. Nam consequat scelerisque purus, quis tristique lorem condimentum non.
        </p>
      </div>
      <div class="cell small-12 section-header text-center medium-text-left">
        <h6>subtitulo alinhado à esquerda</h6>
        <h3><span>Título alinhado à esquerda</span></h3>
      </div>
      <div class="cell small-12 medium-8">
        <p class="text-left">
          Nulla ultricies volutpat nisi, et viverra enim pharetra nec. Integer eget ante maximus augue condimentum faucibus a vitae quam. Nam volutpat mauris id porttitor faucibus. Ut sed est neque. Praesent eros metus, commodo id bibendum at, tempor vel metus. Vestibulum porttitor eu augue tristique fermentum. Sed a congue turpis. Sed augue urna, tempor id eleifend et, pulvinar at dolor. Aenean suscipit placerat cursus. Morbi eget sapien in mauris auctor maximus nec sed mi. Aliquam lorem purus, imperdiet sit amet feugiat dignissim, semper vitae orci. Nunc a orci non diam aliquam vestibulum a id erat.
        </p>
      </div>
      <div class="cell small-12 section-header text-center medium-text-right">
        <h6>subtitulo alinhado à direita</h6>
        <h3><span>Título alinhado à direita</span></h3>
      </div>
      <div class="cell small-12 medium-8">
        <p class="text-right">
          Nulla ultricies volutpat nisi, et viverra enim pharetra nec. Integer eget ante maximus augue condimentum faucibus a vitae quam. Nam volutpat mauris id porttitor faucibus. Ut sed est neque. Praesent eros metus, commodo id bibendum at, tempor vel metus. Vestibulum porttitor eu augue tristique fermentum. Sed a congue turpis. Sed augue urna, tempor id eleifend et, pulvinar at dolor. Aenean suscipit placerat cursus. Morbi eget sapien in mauris auctor maximus nec sed mi. Aliquam lorem purus, imperdiet sit amet feugiat dignissim, semper vitae orci. Nunc a orci non diam aliquam vestibulum a id erat.
        </p>
      </div>
      <div class="cell small-12 section-header text-center">
        <h6>lista vertical</h6>
        <h3><span>Lista de Links</span></h3>
      </div>
      <div class="cell small-12 medium-4">
        <ul class="menu vertical">
          <li>
            <a href="#">Abajures
            </a>
          </li>
          <li>
            <a href="#">Almofadas
            </a>
          </li>
          <li>
            <a href="#">Aparador com buffet
            </a>
          </li>
          <li>
            <a href="#">Armários componíveis
            </a>
          </li>
          <li>
            <a href="#">Bancos
            </a>
          </li>
          <li>
            <a href="#">Bandejas
            </a>
          </li>
          <li>
            <a href="#">Banquetas
            </a>
          </li>
          <li>
            <a href="">Beliches
            </a>
          </li>
          <li>
            <a href="#">Berços
            </a>
          </li>
          <li>
            <a href="#">Bicamas
            </a>
          </li>
          <li>
            <a href="#">Buffets</a>
          </li>
        </ul>
      </div>
      <div class="cell small-12 medium-4">
        <ul class="menu vertical">
          <li>
            <a href="#">Abajures
            </a>
          </li>
          <li>
            <a href="#">Almofadas
            </a>
          </li>
          <li>
            <a href="#">Aparador com buffet
            </a>
          </li>
          <li>
            <a href="#">Armários componíveis
            </a>
          </li>
          <li>
            <a href="#">Bancos
            </a>
          </li>
          <li>
            <a href="">Bandejas
            </a>
          </li>
          <li>
            <a href="#">Banquetas
            </a>
          </li>
          <li>
            <a href="#">Beliches
            </a>
          </li>
          <li>
            <a href="#">Berços
            </a>
          </li>
          <li>
            <a href="#">Bicamas
            </a>
          </li>
          <li>
            <a href="">Buffets</a>
          </li>
        </ul>
      </div>
      <div class="cell small-12 medium-4">
        <ul class="menu vertical">
          <li>
            <a href="#">Abajures
            </a>
          </li>
          <li>
            <a href="#">Almofadas
            </a>
          </li>
          <li>
            <a href="#">Aparador com buffet
            </a>
          </li>
          <li>
            <a href="#">Armários componíveis
            </a>
          </li>
          <li>
            <a href="#">Bancos
            </a>
          </li>
          <li>
            <a href="#">Bandejas
            </a>
          </li>
          <li>
            <a href="">Banquetas
            </a>
          </li>
          <li>
            <a href="#">Beliches
            </a>
          </li>
          <li>
            <a href="#">Berços
            </a>
          </li>
          <li>
            <a href="#">Bicamas
            </a>
          </li>
          <li>
            <a href="#">Buffets</a>
          </li>
        </ul>
      </div>
      <div class="cell small-12 section-header text-center">
        <h6>lista horizontal</h6>
        <h3><span>Lista de Links</span></h3>
      </div>
      <div class="cell small-12 medium-8">
        <ul class="menu horizontal">
          <li>
            <a href="#">Abajures
            </a>
          </li>
          <li>
            <a href="#">Almofadas
            </a>
          </li>
          <li>
            <a href="#">Aparador com buffet
            </a>
          </li>
          <li>
            <a href="#">Armários componíveis
            </a>
          </li>
          <li>
            <a href="#">Bancos
            </a>
          </li>
          <li>
            <a href="#">Bandejas
            </a>
          </li>
          <li>
            <a href="#">Banquetas
            </a>
          </li>
          <li>
            <a href="">Beliches
            </a>
          </li>
          <li>
            <a href="#">Berços
            </a>
          </li>
          <li>
            <a href="#">Bicamas
            </a>
          </li>
          <li>
            <a href="#">Buffets</a>
          </li>
          <li>
            <a href="#">Abajures
            </a>
          </li>
          <li>
            <a href="#">Almofadas
            </a>
          </li>
          <li>
            <a href="#">Aparador com buffet
            </a>
          </li>
          <li>
            <a href="#">Armários componíveis
            </a>
          </li>
          <li>
            <a href="#">Bancos
            </a>
          </li>
          <li>
            <a href="">Bandejas
            </a>
          </li>
          <li>
            <a href="#">Banquetas
            </a>
          </li>
          <li>
            <a href="#">Beliches
            </a>
          </li>
          <li>
            <a href="#">Berços
            </a>
          </li>
          <li>
            <a href="#">Bicamas
            </a>
          </li>
          <li>
            <a href="">Buffets</a>
          </li>
        </ul>
      </div>
      <div class="cell small-12 section-header text-center">
        <h6>Componentes</h6>
        <h3><span>Accordion</span></h3>
      </div>
      <div class="cell small-12 medium-8">
        <ul class="accordion" data-accordion>
          <li class="accordion-item is-active" data-accordion-item>
            <a href="#" class="accordion-title">Accordion 1</a>
            <div class="accordion-content" data-tab-content >
              <p>Panel 1. Lorem ipsum dolor</p>
              <a href="#">Nowhere to Go</a>
            </div>
          </li>
          <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">Accordion 2</a>
            <div class="accordion-content" data-tab-content>
              <textarea></textarea>
              <button class="button">I do nothing!</button>
            </div>
          </li>
          <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">Accordion 3</a>
            <div class="accordion-content" data-tab-content>
              Type your name!
              <input type="text"></input>
            </div>
          </li>
        </ul>
        <div class="cell small-12 section-header text-center">
          <h6>Componentes</h6>
          <h3><span>Accordion menu</span></h3>
        </div>
        <ul class="vertical menu" data-accordion-menu>
          <li>
            <a href="#0">Item 1</a>
            <ul class="menu vertical nested is-active">
              <li>
                <a href="#0">Item 1A</a>
                <ul class="menu vertical nested">
                  <li><a href="#0">Item 1Ai</a></li>
                  <li><a href="#0">Item 1Aii</a></li>
                  <li><a href="#0">Item 1Aiii</a></li>
                </ul>
              </li>
              <li><a href="#0">Item 1B</a></li>
              <li><a href="#0">Item 1C</a></li>
            </ul>
          </li>
          <li>
            <a href="#0">Item 2</a>
            <ul class="menu vertical nested">
              <li><a href="#0">Item 2A</a></li>
              <li><a href="#0">Item 2B</a></li>
            </ul>
          </li>
          <li><a href="#0">Item 3</a></li>
        </ul>
        <div class="cell small-12 section-header text-center">
          <h6>Componentes</h6>
          <h3><span>Badges</span></h3>
        </div>
        <span class="primary badge">1</span>
        <span class="secondary badge">2</span>
        <span class="success badge">3</span>
        <span class="alert badge">A</span>
        <span class="warning badge">B</span>
        <div class="cell small-12 section-header text-center">
          <h6>Componentes</h6>
          <h3><span>Breadcrumbs</span></h3>
        </div>
        <nav aria-label="You are here:" role="navigation">
          <ul class="breadcrumbs">
            <li><a href="#0">Home</a></li>
            <li><a href="#0">Features</a></li>
            <li class="disabled">Gene Splicing</li>
            <li>
              <span class="show-for-sr">Current: </span> Cloning
            </li>
          </ul>
        </nav>
        <div class="cell small-12 section-header text-center">
          <h6>Componentes</h6>
          <h3><span>Butões</span></h3>
        </div>
        <!-- Anchors (links) -->
        <a href="#0" class="button">Learn More</a>
        <a href="#features" class="button">View All Features</a>
        <!-- Buttons (actions) -->
        <button type="button" class="success button">Save</button>
        <button type="button" class="alert button">Delete</button>
        <a class="tiny button" href="#0">So Tiny</a>
        <a class="small button" href="#0">So Small</a>
        <a class="large button" href="#0">So Large</a>
        <a class="expanded button" href="#0">Such Expand</a>
        <div class="button-group">
          <a class="button">One</a>
          <a class="button">Two</a>
          <a class="button">Three</a>
        </div>
        <a href="lista-projetos.html" class="hollow cast button rounded small">Hollow<i class="icon-arrow_forward"></i></a>
        <a class="cast button rounded small">Primary<i class="icon-arrow_forward"></i></a>
        <div class="cell small-12 section-header text-center">
          <h6>Componentes</h6>
          <h3><span>Callout</span></h3>
        </div>

        <div class="callout">
          <h5>This is a callout.</h5>
          <p>It has an easy to override visual style, and is appropriately subdued.</p>
          <a href="#0">It's dangerous to go alone, take this.</a>
        </div>

        <div class="callout primary">
          <h5>This is a primary callout.</h5>
          <p>It has an easy to override visual style, and is appropriately subdued.</p>
          <a href="#0">It's dangerous to go alone, take this.</a>
        </div>

        <div class="callout secondary">
          <h5>This is a secondary callout</h5>
          <p>It has an easy to override visual style, and is appropriately subdued.</p>
          <a href="#0">It's dangerous to go alone, take this.</a>
        </div>

        <div class="callout success">
          <h5>This is a success callout</h5>
          <p>It has an easy to override visual style, and is appropriately subdued.</p>
          <a href="#0">It's dangerous to go alone, take this.</a>
        </div>

        <div class="callout warning">
          <h5>This is a warning callout</h5>
          <p>It has an easy to override visual style, and is appropriately subdued.</p>
          <a href="#0">It's dangerous to go alone, take this.</a>
        </div>

        <div class="callout alert">
          <h5>This is an alert callout</h5>
          <p>It has an easy to override visual style, and is appropriately subdued.</p>
          <a href="#0">It's dangerous to go alone, take this.</a>
        </div>

        <div class="cell small-12 section-header text-center">
          <h6>Componentes</h6>
          <h3><span>Drill Down Menu</span></h3>
        </div>
        <ul class="vertical menu" data-drilldown style="width: 200px" id="m1">
          <li>
            <a href="#0">Item 1</a>
            <ul class="vertical menu" id="m2">
              <li>
                <a href="#0">Item 1A</a>
                <ul class="vertical menu" id="m3">
                  <li><a href="#0">Item 1Aa</a></li>
                  <li><a href="#0">Item 1Ba</a></li>
                  <li><a href="#0">Item 1Ca</a></li>
                  <li><a href="#0">Item 1Da</a></li>
                  <li><a href="#0">Item 1Ea</a></li>
                </ul>
              </li>
              <li><a href="#0">Item 1B</a></li>
              <li><a href="#0">Item 1C</a></li>
              <li><a href="#0">Item 1D</a></li>
              <li><a href="#0">Item 1E</a></li>
            </ul>
          </li>
          <li>
            <a href="#0">Item 2</a>
            <ul class="vertical menu">
              <li><a href="#0">Item 2A</a></li>
              <li><a href="#0">Item 2B</a></li>
              <li><a href="#0">Item 2C</a></li>
              <li><a href="#0">Item 2D</a></li>
              <li><a href="#0">Item 2E</a></li>
            </ul>
          </li>
          <li>
            <a href="#0">Item 3</a>
            <ul class="vertical menu">
              <li><a href="#0">Item 3A</a></li>
              <li><a href="#0">Item 3B</a></li>
              <li><a href="#0">Item 3C</a></li>
              <li><a href="#0">Item 3D</a></li>
              <li><a href="#0">Item 3E</a></li>
            </ul>
          </li>
          <li><a href='#0'> Item 4</a></li>
        </ul>
        <div class="cell small-12 section-header text-center">
          <h6>Componentes</h6>
          <h3><span>Dropdown Menu</span></h3>
        </div>
        <ul class="dropdown menu" data-dropdown-menu>
          <li>
            <a>Item 1</a>
            <ul class="menu">
              <li><a href="#0">Item 1A Loooong</a></li>
              <li>
                <a href='#0'> Item 1 sub</a>
                <ul class="menu">
                  <li><a href='#0'>Item 1 subA</a></li>
                  <li><a href='#0'>Item 1 subB</a></li>
                  <li>
                    <a href='#0'> Item 1 sub</a>
                    <ul class="menu">
                      <li><a href='#0'>Item 1 subA</a></li>
                      <li><a href='#0'>Item 1 subB</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href='#0'> Item 1 sub</a>
                    <ul class="menu">
                      <li><a href='#0'>Item 1 subA</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#0">Item 1B</a></li>
            </ul>
          </li>
          <li>
            <a href="#0">Item 2</a>
            <ul class="menu">
              <li><a href="#0">Item 2A</a></li>
              <li><a href="#0">Item 2B</a></li>
            </ul>
          </li>
          <li><a href="#0">Item 3</a></li>
          <li><a href='#0'>Item 4</a></li>
        </ul>
        <div class="cell small-12 section-header text-center">
          <h6>Componentes</h6>
          <h3><span>Forms</span></h3>
        </div>
        <form>
          <label>Input Label
            <input type="text" placeholder=".small-12.columns" aria-describedby="exampleHelpText">
          </label>
          <p class="help-text" id="exampleHelpText">Here's how you use this input field!</p>
          <label>
            How many puppies?
            <input type="number" value="100">
          </label>
          <label>
            What books did you read over summer break?
            <textarea placeholder="None"></textarea>
          </label>
          <div class="custom-select">
            <label>
              <span>Ordernar por</span>
              <select>
                <option value="husker">Relevancia</option>
                <option value="starbuck">Preço</option>
                <option value="hotdog">Estilo</option>
              </select>
              <i class="icon-keyboard_arrow_down"></i>
            </label>
          </div>
          <div class="grid-x grid-margin-x">
            <fieldset class="cell large-6">
              <legend>Choose Your Favorite</legend>
              <input type="radio" name="pokemon" value="Red" id="formRed" required><label for="formRed">Red</label>
              <input type="radio" name="pokemon" value="Blue" id="formBlue"><label for="formBlue">Blue</label>
              <input type="radio" name="pokemon" value="Yellow" id="formYellow"><label for="formYellow">Yellow</label>
            </fieldset>
            <fieldset class="cell large-6">
              <legend>Check these out</legend>
              <input id="formCheckbox1" type="checkbox"><label for="formCheckbox1">Checkbox 1</label>
              <input id="formCheckbox2" type="checkbox"><label for="formCheckbox2">Checkbox 2</label>
              <input id="formCheckbox3" type="checkbox"><label for="formCheckbox3">Checkbox 3</label>
            </fieldset>
          </div>
          <div class="grid-x grid-margin-x">
            <div class="cell small-3">
              <label for="middle-label" class="text-right middle">Label</label>
            </div>
            <div class="cell small-9">
              <input type="text" id="middle-label" placeholder="Right- and middle-aligned text input">
            </div>
          </div>
        </form>
        <div class="cell small-12 section-header text-center">
          <h6>Componentes</h6>
          <h3><span>Pagination</span></h3>
        </div>
        <ul class="pagination" role="navigation" aria-label="Pagination">
          <li class="disabled">Previous <span class="show-for-sr">page</span></li>
          <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
          <li><a href="#0" aria-label="Page 2">2</a></li>
          <li><a href="#0" aria-label="Page 3">3</a></li>
          <li><a href="#0" aria-label="Page 4">4</a></li>
          <li class="ellipsis" aria-hidden="true"></li>
          <li><a href="#0" aria-label="Page 12">12</a></li>
          <li><a href="#0" aria-label="Page 13">13</a></li>
          <li><a href="#0" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
        </ul>
        <div class="cell small-12 section-header text-center">
          <h6>Componentes</h6>
          <h3><span>Tabs</span></h3>
        </div>
        <ul class="tabs" data-tabs id="example-tabs">
          <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Tab 1</a></li>
          <li class="tabs-title"><a href="#panel2">Tab 2</a></li>
          <li class="tabs-title"><a href="#panel3">Tab 3</a></li>
          <li class="tabs-title"><a href="#panel4">Tab 4</a></li>
          <li class="tabs-title"><a href="#panel5">Tab 5</a></li>
          <li class="tabs-title"><a href="#panel6">Tab 6</a></li>
        </ul>

        <div class="tabs-content" data-tabs-content="example-tabs">
          <div class="tabs-panel is-active" id="panel1">
            <p>One</p>
            <p>Check me out! I'm a super cool Tab panel with text content!</p>
          </div>
          <div class="tabs-panel" id="panel2">
            <p>Two</p>
            <img class="thumbnail" src="../../assets/img/generic/rectangle-7.jpg">
          </div>
          <div class="tabs-panel" id="panel3">
            <p>Three</p>
            <p>Check me out! I'm a super cool Tab panel with text content!</p>
          </div>
          <div class="tabs-panel" id="panel4">
            <p>Four</p>
            <img class="thumbnail" src="../../assets/img/generic/rectangle-2.jpg">
          </div>
          <div class="tabs-panel" id="panel5">
            <p>Five</p>
            <p>Check me out! I'm a super cool Tab panel with text content!</p>
          </div>
          <div class="tabs-panel" id="panel6">
            <p>Six</p>
            <img class="thumbnail" src="../../assets/img/generic/rectangle-8.jpg">
          </div>
        </div>

        <div class="cell small-12 section-header text-center">
          <h6>Componentes</h6>
          <h3><span>Classes de Visibilidade</span></h3>
        </div>
        <p>You are on a small screen or larger.</p>
        <p class="show-for-medium">You are on a medium screen or larger.</p>
        <p class="show-for-large">You are on a large screen or larger.</p>
        <p class="show-for-small-only">You are <em>definitely</em> on a small screen.</p>
        <p class="show-for-medium-only">You are <em>definitely</em> on a medium screen.</p>
        <p class="show-for-large-only">You are <em>definitely</em> on a large screen.</p>

        <p class="hide-for-medium">You are <em>not</em> on a medium screen or larger.</p>
        <p class="hide-for-large">You are <em>not</em> on a large screen or larger.</p>
        <p class="hide-for-small-only">You are <em>definitely not</em> on a small screen.</p>
        <p class="hide-for-medium-only">You are <em>definitely not</em> on a medium screen.</p>
        <p class="hide-for-large-only">You are <em>definitely not</em> on a large screen.</p>
        <p class="hide">Can't touch this.</p>

        <p class="invisible">Can sort of touch this.</p>

        <p class="show-for-landscape">You are in landscape orientation.</p>
        <p class="show-for-portrait">You are in portrait orientation.</p>

        <p class="show-for-sr">This text can only be read by a screen reader.</p>
        <p>There's a line of text above this one, you just can't see it.</p>

        <p aria-hidden="true">This text can be seen, but won't be read by a screen reader.</p>

        <p><a class="show-on-focus" href="#mainContent">Skip to Content</a></p>
        <header id="header" role="banner">
        </header>
        <main id="mainContent" role="main" tabindex="0">
        </main>
        <div class="cell small-12 section-header text-center">
          <h6>Componentes</h6>
          <h3><span>Tabela</span></h3>
        </div>
        <table>
          <thead>
            <tr>
              <th width="200">Table Header</th>
              <th>Table Header</th>
              <th width="150">Table Header</th>
              <th width="150">Table Header</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Content Goes Here</td>
              <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
              <td>Content Goes Here</td>
              <td>Content Goes Here</td>
            </tr>
            <tr>
              <td>Content Goes Here</td>
              <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
              <td>Content Goes Here</td>
              <td>Content Goes Here</td>
            </tr>
            <tr>
              <td>Content Goes Here</td>
              <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
              <td>Content Goes Here</td>
              <td>Content Goes Here</td>
            </tr>
          </tbody>
        </table>
        <div class="cell small-12 section-header text-center">
          <h6>Componentes</h6>
          <h3><span>Antes e Depois</span></h3>
        </div>
        <div class="before-after-container">
          <img alt="Waterfall Antes" src="../../assets/img/antes.jpg">
          <img alt="Waterfall Depois" src="../../assets/img/depois.jpg">
        </div>
        <div class="cell small-12 section-header text-center">
          <h6>Componentes</h6>
          <h3><span>Antes e Depois Galeria</span></h3>
        </div>
        <div class="grid-x grid-padding-x">
          <div class="cell small-12">
            <div class="before-after-slider">
              {{#each before-after.before-after-list}}
              <div>
                <div class="before-after-container">
                  <img alt="{{name}} Antes" src="../../assets/img/antes.jpg">
                  <img alt="{{name}} Depois" src="../../assets/img/depois.jpg">
                </div>
              </div>
              {{/each}}
            </div>
          </div>
          <div class="cell small-12">
            <div class="before-after-thumbnail-slider">
              {{#each before-after.before-after-list}}
              <div class="thumbnail-wrp">
                <img alt="{{name}}" src="../../assets/img/depois.jpg">
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
