.cover-img{
  padding:4rem;
  h3{
    text-transform: uppercase;
    font-weight: 600;
    color:white;
    text-shadow: 1px 1px 0px rgba(14, 14, 14, 0.5);
  }
  h6{
    color:white;
    font-weight: 400;
    text-shadow: 1px 1px 0px rgba(14, 14, 14, 0.5);
  }
}
