#preloader {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:$white;
  z-index:9999;
  .status {
    width:3rem;
    height:3rem;
    position:absolute;
    left:calc(50% - .5rem);
    top:calc(50% - .5rem);

    -webkit-animation: sk-bounce 1.0s infinite ease-in-out;
    animation: sk-bounce 1.0s infinite ease-in-out;
    i{
      //color:$white;
      font-size: 3rem;
    }
  }
}
@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


@import 'themes-config.scss';

@include themify($themes) {
  #preloader {
    i{
      color:themed('primary');
    }
  }
}
