<button class="close-button" aria-label="Close menu" type="button" data-close>
  <i class="icon-arrow_back"></i>
</button>
<h6>Pedir Projecto</h6>
<hr>
<h7>CRIAMOS O ESPAÇO DOS SEUS SONHOS</h7>
<p>Dispomos de um serviço personalizado de decoração
  de interiores que oferece uma vasta escolha de produtos
  para idealizar a casa dos seus sonhos.
</p>
<form>
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 float-label">
      <input type="text" placeholder=" ">
      <label>Nome</label>
    </div>
    <div class="cell small-12 float-label">
      <input type="text" placeholder=" ">
      <label>Apelido</label>
    </div>
    <div class="cell medium-12 float-label">
      <input type="email" placeholder=" ">
      <label>Email</label>
    </div>
    <div class="cell medium-12 float-label">
      <input type="text" placeholder=" ">
      <label>Telemovel</label>
    </div>
    <div class="cell medium-12 auto float-label">
      <textarea rows="8" placeholder=" "></textarea>
      <label>Mensagem</label>
    </div>
    <div class="cell auto">
      <input id="checkbox-rgpd" type="checkbox">
      <label for="checkbox-rgpd">
        Lí e aceito a Política de Privacidade
      </label>
    </div>
    
  </div>
  <button type="submit" class="button cast rounded small">Enviar<i class="icon-arrow_forward"></i></button>
</form>
