
<div class="orders-content-empty">
  <div>
    <h3>Não há registro de encomendas.</nav></h3>
  </div>
</div>

<table class="unstriped stack delived">
  <thead>
    <tr class="text-center medium-text-left">
      <th>Produto</th>
      <th>Montante</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-center medium-text-left">
      <td>
       <a href="#order-details">2018-09-10 12:36:33</a> 
      </td>
      
      <td>
        3.087,00€
      </td>
      <td>
        <span class="badge success">Finalizada</span>
      </td>
    </tr>
    <tr class="text-center medium-text-left">
       <td>
         2018-09-10 12:36:33
      </td>
      
      <td>
        3.087,00€
      </td>
      <td>
        <span class="badge success">Expedida</span>
      </td>
    </tr>
    <tr class="text-center medium-text-left">
       <td>
         2018-09-10 12:36:33
      </td>
    
      <td>
        3.087,00€
      </td>
      <td>
        <span class="badge alert">Cancelada</span>
      </td>
    </tr>
    <tr class="text-center medium-text-left">
       <td>
         2018-09-10 12:36:33
      </td>
     
      <td>
        3.087,00€
      </td>
      <td>
        <span class="badge process">Em Processo</span>
      </td>
    </tr>
    <tr class="text-center medium-text-left">
       <td>
         2018-09-10 12:36:33
      </td>
      
      <td>
        3.087,00€
      </td>
      <td>
        <span class="badge warning">Reclamação em Processo</span>
      </td>
    </tr>
    <tr class="text-center medium-text-left">
       <td>
         2018-09-10 12:36:33
      </td>
      
      
      <td>
        3.087,00€
      </td>
      <td>
        <span class="badge warning">A Aguardar Pre-pagamento</span>
      </td>
    </tr>
    <tr class="text-center medium-text-left">
       <td>
         2018-09-10 12:36:33
      </td>
      
      <td>
        3.087,00€
      </td>
      <td>
        <span class="badge warning">A Aguardar Analise</span>
      </td>
    </tr>

  </tbody>
</table>

{{>order-details}}
