
<ul class="horizontal tabs admin-nav-tabs" data-tabs id="admin-tabs">
  <li class="tabs-title is-active"><a href="#panel6v"><i class="icon-settings"></i> GERIR CONTA</a></li>
  <!-- <li class="tabs-title is-active"><a href="#panel1v" aria-selected="true"><i class="icon-home3"> </i>INÍCIO</a></li> -->
  <li class="tabs-title"><a href="#panel2v"><i class="icon-drawer"></i> ENCOMENDAS</a></li>
  <li class="tabs-title"><a class="message-area" href="#panel3v"><i class="icon-envelope-open"> </i>MENSAGENS <span class="message-counter">2</span></a></li>
  <li class="tabs-title"><a href="#panel4v"><i class="icon-star"></i> LISTA DESEJOS</a></li>
  <!-- <li class="tabs-title"><a href="#panel5v"><i class="icon-bubble"></i> SUGESTÃO</a></li> -->
  <!-- 
    <li class="tabs-title"><a href="#panel6v"><i class="icon-settings"></i> GERIR CONTA</a></li> -->
</ul>

<!-- <div class="grid-x grid-padding-x small-up-2 medium-up-3 large-up-6 admin-menu" >
  <a class="cell active" href="#" aria-selected="true"><i class="icon-home3"></i></br>INÍCIO</a>
  <a class="cell" href="#"><i class="icon-drawer"></i></br>ENCOMENDAS</a>
  <a class="cell" href="#"><i class="icon-envelope-open"></i></br>MENSAGENS</a>
  <a class="cell" href="#"><i class="icon-star"></i></br>LISTA DESEJOS</a>
  <a class="cell" href="#"><i class="icon-bubble"></i></br>SUGESTÃO</a>
  <a class="cell" href="#"><i class="icon-settings"></i></br>GERIR CONTA</a>
</div> -->
