<div class="tabs-content" data-tabs-content="admin-tabs">
  <!-- <div class="tabs-panel is-active" id="panel1v">
    {{>admin-tab-content-start}}
  </div> -->
  <div class="tabs-panel" id="panel2v">
    {{>admin-tab-content-deliveries}}
  </div>
  <div class="tabs-panel" id="panel3v">
    {{>admin-tab-content-messages}}
  </div>
  <div class="tabs-panel" id="panel4v">
    {{>admin-tab-content-wishlist}}
  </div>
  <!-- <div class="tabs-panel" id="panel5v">
    {{>admin-tab-content-sugestion}}
  </div> -->
  <div class="tabs-panel is-active" id="panel6v">
    {{>admin-tab-content-account}}
  </div>
</div>


