<form>
  <div class="cell small-12">
    <input type="text" placeholder="Nome">
  </div>
  <div class="cell small-12">
    <input type="email" placeholder="Email">
  </div>
  <div class="cell small-12">
    <input type="password" placeholder="Password">
  </div>
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-6 custom-select">
      <label>
        <span>Concelho</span>
        <select>
          <option value="1">Porto</option>
          <option value="2">Lisboa</option>
          <option value="3">Viseu</option>
        </select>
        <i class="icon-keyboard_arrow_down"></i>
      </label>
    </div>
    <div class="cell small-12 medium-6">
      <button type="submit" data-toggle="create-form" class="button small expanded" href="home.HTML">REGISTAR</button>
    </div>
  </div>
  <div class="cell small-12">
    <input id="termos" type="checkbox"><label for="termos">Aceito os Termos e Condições</label>
  </div>
</form>
