<div class="grid-x grid-margin-x">
  <div class="cell login-call text-center medium-text-left">
    <div class="grid-x grid-margin-x align-middle">
      <div class="cell medium-shrink">
        <i class="icon-lock"></i>
      </div>
      <div class="cell medium-auto">
        <h6>JÁ TENS CONTA ?</h6>
        <h5>Entra e compra mais rapidamente</h5>
        <p>Se não, podes continuar as compras como convidado.</p>
      </div>
      <div class="cell medium-shrink">
        <a data-open="loginReveal" class="button secondary rounded small cast-two">Iniciar Sessão<i class="icon-arrow_forward"></i></a>
      </div>
    </div>
  </div>
</div>
