<form>
    <div class="cell small-12">
      <input type="email" placeholder="Email">
    </div>
    <div class="cell small-12 pass-container">
      <input id="login-pass"type="password" placeholder="Password">
      <label><input type='checkbox' id='check-2' /> <i class="icon-eye" id='check'></i></label>
    </div>
    
   
    
    <div class="cell small-6 dados-sessao">
        <div class="cell small-6 medium-6 manter-dados-sessao">
            <input id="manter-sessao" type="checkbox"><label for="manter-sessao">Manter Sessão Iniciada</label>
        </div>
        <div class="cell small-6 medium-6 recuperar-password">
            <a class="recover-button" data-toggle="recover-form">Recuperar Password</a>
        </div>
     
    </div>
    <div class="grid-x">
      
      <div class="cell small-12 medium-12">
        <button type="submit" class="button small expanded enter" href="area-cliente.HTML">ENTRAR</button>
      </div>

      <div id="gSignInWrapper">
        <a  id="customBtn" class="customGPlusSignIn">
          <span class="icon"></span>
          <span class="buttonText">Iniciar sessão com Google</span>
        </a>
      </div>
      <div id="name"></div>
    </div>
</form>
  