<div id="order-details">
    <section class="cart">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell large-11 cart-process-wrp small-order-2 medium-order-1">
                    <div class="grid-x grid-margin-x grid-faturacao">
                        <a class="return-page" href="#"> <i class="icon-arrow_back"></i>Voltar à Lista</a>
                        <form>
                            <h5 class="title morada-title">
                                <span class="etapa_one">1</span> Morada de faturação e entrega <span id="edit-faturacao"
                                    class=" invisible">Editar</span>
                            </h5>
                            <div class="summary-faturacao ">
                                <p class="summary-infor">Morada de faturação: Eduardo Muller </p>
                                <p class="delivery-info">Morada de Entrega: Eduardo Muller </p>
                            </div>
                            <div>
                                <h5 class="title envio-title "> <span class="etapa_two">2</span> Método de envio <span
                                        id="edit-envio" class=" invisible">Editar</span></h5>
                                <div class="delivery-content">
                                    <p class="delivery-method">Método de envio: Levantar a encomenda - Recolha na Loja
                                    </p>

                                </div>
                            </div>
                            <div class="pagamento-form">
                                <h5 class="title pagamento-title "> <span class="etapa-three">3</span> Método de
                                    pagamento <span id="edit-pagamento" class=" invisible">Editar</span></h5>
                                <div class="pagamento-content">
                                    <p class="delivery-method">Método de pagamento: Pré Pagamento 50% - Multibanco </p>
                                </div>


                                <div class="cell large-12 cart-total-wrp small-order-1 medium-order-2 container">

                                    <div class="cart-process-list ">
                                        <h4 class="text-center medium-text-left">Resumo da encomenda</h4>
                                       
                                        <div class="cart-item-wrp">
                                            <div class="cart-item">
                                                <div class="item-information">
                                                    <ul>
                                                        <li><p class="product-header"></p>
                                                            <div class=" image">
                                                                <a href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">
                                                                    <img src="https://qlt.graca.pt/public/imagesDB/ProdutosFotos/84/137098_chaise-longue_S.jpg" />
                                                                </a>
                                                            </div>
                                                        </li>
                                                        <li> <p class="product-header"> Produto</p>
                                                            <div class="item-info">
                                                                <a class="name" href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511"> Sofá
                                                                    Chaise Rolph
                                                                </a>
                                                                <a class="category" href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">
                                                                    Avelina&nbsp;9611 | Ferro Lacado / AVELINA-9611
                                                                </a>
                                                            </div>
                                                        </li>
                                                        <li><p class="product-header"> Qtd</p>
                                                            <div class="item-qtd">
                                                                <span class="price"> 02</span>
                                                            </div></li>
                                                        <li><p class="product-header"> Preço Unid</p>
                                                            <div class="item-unid-price">
                                                                <span class="price">2.354,00€</span>
                                                            </div></li>
                                                        <li><p class="product-header"> Preço Total</p>
                                                            <div class="item-final-price">
                                                                <span class="price">4.708,00€</span>
                                                            </div></li>
                                                    </ul>
                                                </div>
                                                
                                                </div>
                                    
                                            </div>
                                            <h6>Total Encomenda : <span >6.062,00€</span></h6>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="return">
                                <a class="return-page " href="#"> <i class="icon-arrow_back"></i>Voltar à Lista</a>
                            </div>
                    </div>
                 
            </div>
           
        </form>
    </section>
</div>