<div class="grid-y grid-margin-y terms-invoice">
  <div class="cell">
    <input id="tos" type="checkbox" >
    <label for="tos">Lí e aceito a
      <a href="#">Política de Privacidade</a> e
      <a href="#">Termos e Condições de Compra</a>
    </label>
  </div>
  <div class="cell">
    <input id="invoice" type="checkbox">
    <label for="invoice">Solicitar Fatura</label>
  </div>
  <div class="cell">
    <input id="newsletternewsletter" type="checkbox">
    <label for="newsletter">Subscrever newsletter</label>
  </div>
</div>
