
<div class="pagamento-form">
  <h5 class="title pagamento-title blocked"> <span class="etapa-three">3</span> Método de pagamento <span id="edit-pagamento" class=" invisible">Editar</span></h5> 
  <div class='pagamento-content' style="display: none;">
  <h6 class="pagamento-subtitle">Pagamento</h6>
  <div class="grid-x grid-margin-x align-middle check-list-item">
    <div class="cell shrink">
      <input type="checkbox">
    </div>
    <div class="cell shrink">
      <i class="icon-card-payment"></i>
    </div>
    <div class="cell auto">
      <h6>PAGAMENTO 100%</h6>
      <p>Pagamento de 100% da encomenda</p>
    </div>
  </div>

  <div class="metodo-pagamento">
    <h6 class="pagamento-subtitle">Método</h6>
    <div class="grid-x grid-margin-x align-middle check-list-item">
      <div class="cell shrink">
        <input type="checkbox">
      </div>
      <div class="cell shrink">
        <img src="../../assets/img/mb.png">
      </div>
      <div class="cell auto">
        <h6>MULTIBANCO</h6>
        <p>Pagamento através de multibanco</p>
      </div>
    </div>
    </div>
  
  <div class="grid-y grid-margin-y terms-invoice">
    <div class="cell">
      <input id="tos" type="checkbox" >
      <label for="tos">Lí e aceito a
        <a href="#">Política de Privacidade</a> e
        <a href="#">Termos e Condições de Compra</a>
      </label>
    </div>
    <div class="cell">
      <input id="invoice" type="checkbox">
      <label for="invoice">Solicitar Fatura</label>
    </div>
    <div class="cell">
      <input id="newsletternewsletter" type="checkbox">
      <label for="newsletter">Subscrever newsletter</label>
    </div>
  </div>
  <div class="cell shrink terminar-encomenda">
    <a class="button secondary rounded small cast enviar-encomenda disabled">Pagar e Terminar Encomenda<i class="icon-arrow_forward"></i></a>
  </div>
</div>
</div>
<div class="grid-x grid-margin-x align-center">
  <div class="cell shrink terminar-encomenda">
    <a class="button secondary rounded small cast  disabled">Pagar e Terminar Encomenda<i class="icon-arrow_forward"></i></a>
    <a class="button secondary rounded small cast  enabled">Pagar e Terminar Encomenda<i class="icon-arrow_forward"></i></a>
  </div>
</div>