<div class="grid-x grid-margin-x align-middle check-list-item item-domicilio" >
  <div class="cell shrink">
    <input id="checkbox1" type="checkbox" checked disabled>
  </div>
  <div class="cell shrink">
    <i class="icon-delivery"></i>
  </div>
  <div class="cell auto">
    <h6>ENTREGA</h6>
    <p>Entregamos os seus artigos na sua residência</p>
  </div>
  <div class="cell shrink">
    <span>150€</span>
  </div>
</div>
<div class="grid-x grid-margin-x align-middle check-list-item">
  <div class="cell shrink">
    <input id="checkbox1" type="checkbox">
  </div>
  <div class="cell shrink">
    <i class="icon-delivery-montage"></i>
  </div>
  <div class="cell auto">
    <h6>MONTAGEM</h6>
    <p>Fazemos a montagem dos seus artigos</p>
  </div>
  <div class="cell shrink">
    <span>150€</span>
  </div>
</div>
