<div class="cart-process-total">
  <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">CÓDIGO DE DESCONTO</a>
      <div class="accordion-content" data-tab-content>
        {{> discount-code}}
      </div>
    </li>
  </ul>
  <div class="grid-x">
    <h5 class="cell auto">TOTAL Produtos</h5> <span class="cell shrink price">3.087,00 €</span>
  </div>
  <div class="grid-x">
    <h5 class="cell auto">RECOLHA NA LOJA</h5> <span class="price-delivery">GRATUITO</span>
  </div>
  <div class="grid-x">
    <h5 class="cell auto">TOTAL A PAGAR</h5> <span class="price-total">3.087,00 €</span>
  </div>
</div>
