<div class="caracteristics-slider text-content">
  <div>
    <p> (4) Cadeira Estofada L.53 x P.57 x A.90 cm</p>
    <p> (1) Mesa de Jantar Extensível c/ Pé Inox L.180 (230/280) x P.100 x A. 78 cm</p>
    <p> (1) Aparador 3 Portas e 1 Nicho L.220 x P.50 x A.85 cm </p>
    <p> Opções: Prumos em Inox e Iluminação</p>
    <p> (1) Vitrine Alta 2 Portas c/ Vidro L.120 x P.40 x A.180 cm (não incluído)</p>
    <p> Para este artigo é possivel escolher outros acabamentos.</p>
    <p> Contacte o nosso apoio ao cliente para receber mais informações.</p>
  </div>
  <div>
    <p> (4) Cadeira Estofada L.53 x P.57 x A.90 cm</p>
    <p> (1) Mesa de Jantar Extensível c/ Pé Inox L.180 (230/280) x P.100 x A. 78 cm</p>
    <p> (1) Aparador 3 Portas e 1 Nicho L.220 x P.50 x A.85 cm </p>
    <p> Opções: Prumos em Inox e Iluminação</p>
    <p> (1) Vitrine Alta 2 Portas c/ Vidro L.120 x P.40 x A.180 cm (não incluído)</p>
    <p> Para este artigo é possivel escolher outros acabamentos.</p>
    <p> Contacte o nosso apoio ao cliente para receber mais informações.</p>
  </div>
</div>
<div class="accordion-slider-nav">
  <a class="prev-caracteristic" aria-label="previous"><span class="show-for-sr">Anterior</span>&#8592; anterior</a>
  <a class="next-caracteristic" aria-label="next"><span class="show-for-sr">Seguinte</span>seguinte &#8594;</a>
</div>
