<div class="appreciations-slider text-content">
  <div>
    <h5>Rúben Amado<span> <i class="icon-star"></i> 5</span></h5>
    <p>Descrição da apreciação, podem aparecer as 3 ultimas com a pontuação mais elevada por exemplo.</p>
  </div>
  <div>
    <h5>Diogo Capitação<span> <i class="icon-star"></i> 5</span></h5>
    <p>Descrição da apreciação, podem aparecer as 3 ultimas com a pontuação mais elevada por exemplo.</p>
  </div>
</div>
<div class="accordion-slider-nav">
  <a class="prev-appreciation" aria-label="previous"><span class="show-for-sr">Anterior</span>&#8592; anterior</a>
  <a class="next-appreciation" aria-label="next"><span class="show-for-sr">Seguinte</span>seguinte &#8594;</a>
</div>
