<div class="cell" id="more-info" data-magellan-target="more-info">
  <ul class="accordion show-for-small-only" data-accordion data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item is-active>
      <a href="#" class="accordion-title">caracteristicas</a>
      <div class="accordion-content" data-tab-content>
        {{>product-detail-caracteristics}}
      </div>
    </li>
    <li class="accordion-item " data-accordion-item>
      <a href="#" class="accordion-title">Acabamentos</a>
      <div class="accordion-content" data-tab-content>
        {{>product-detail-finishings}}
      </div>
    </li>
    <li class="accordion-item " data-accordion-item>
      <a href="#" class="accordion-title">Medidas</a>
      <div class="accordion-content" data-tab-content>
        {{>product-detail-measures}}
      </div>
    </li>
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Disponibilidade</a>
      <div class="accordion-content" data-tab-content>
        {{>product-detail-availability}}
      </div>
    </li>
    <li class="accordion-item " data-accordion-item>
      <a href="#" class="accordion-title">NOTAS</a>
      <div class="accordion-content" data-tab-content>
        {{>product-detail-notes}}
      </div>
    </li>
    <li class="accordion-item " data-accordion-item>
      <a href="#" class="accordion-title">Apreciações <small>(3)</small></a>
      <div class="accordion-content" data-tab-content>
        {{>product-detail-appreciations}}
      </div>
    </li>
  </ul>
  
</div>
