<div class="text-content">
  <h6 class="separator">Type</h6>
  <ul class="menu measures-list">
    <li><a class="active">80x100</a></li>
    <li><a>80x100</a></li>
    <li><a>80x100</a></li>
    <li><a>80x100</a></li>
    <li><a>80x100</a></li>
    <li><a>80x100</a></li>
    <li><a>80x100</a></li>
    <li><a>80x100</a></li>
    <li><a>80x100</a></li>
  </ul>
  <h6 class="separator">Type</h6>
  <ul class="menu measures-list">
    <li><a class="active">80x100</a></li>
    <li><a>80x100</a></li>
    <li><a>80x100</a></li>
    <li><a>80x100</a></li>
    <li><a>80x100</a></li>
    <li><a>80x100</a></li>
    <li><a>80x100</a></li>
    <li><a>80x100</a></li>
    <li><a>80x100</a></li>
  </ul>
</div>
