<div class="product-thumbnail" >
  <a class="thumbnail-img" href="produto.html">
    <span class="discount">50%</span>
    <img alt="{{name}}" src="{{img-link}}">
  </a>
  <div class="grid-x grid-margin-x">
    <div class="cell auto">
      <div class="grid-y ">
        <div class="cell ">
          <a class="name" href="produto.html">{{name}}</a>
        </div>
        <div class="cell ">
          <a class="category" href="lista-produtos.html">
            {{category}}
          </a>
        </div>
        <div class="cell">
          <span class="stock">Stock</span>
        </div>
      </div>
    </div>
    <div class="cell shrink">
      <div class="grid-y ">
        <div class="cell ">
          <span class="price">{{price}}€</span>
        </div>
        <div class="cell">
          <span class="old-price">{{old-price}}€</span>
        </div>
      </div>
    </div>
  </div>
</div>
