<a id="modal-open"href="#" aria-label="modal-info" data-open="modal-info" class="button clear" style="display: none;">
  <i class="icon-person"></i>
</a>


<div class="reveal" id="modal-info" data-reveal data-close-on-click="false" data-animation-in="slide-in-down" data-animation-out="slide-out-up" data-additional-overlay-classes="transparent">
<div class="modal-body">
  <div class="new-form">
      <p> Este é nosso novo menu.</p>
  </div>
  <span></span>
  <button class="close-button" data-close aria-label="Close modal" type="button">
   Fechar
  </button>
</div>
</div>
  