
section.product-detail{
  padding:2rem;
  img{
    margin-bottom:1rem,
  }
  .rating-block{
    .rating-block-rating{
      margin: 0 auto;
    }
  }
  h1{
    font-size:1rem;
    //font-family: 'questa-grande-regular-webfont';
    font-size: 3rem;
    font-weight: 600;
  }
  h5{
    color:$dark-gray;
    margin-bottom: 2rem;
  }
  h6{
    color:$dark-gray;
    font-size:.75rem;
  }
  h2 .price{
    font-weight: bold;
    font-size:2rem;
    color:darken($dark-gray, 25%);
  }
  small{
    //margin-left: .5rem;
    font-size: 1rem;
    color:$dark-gray;
  }
  p.help-text{
    margin-top:.5rem;
    margin-bottom:.5rem;
  }
  a.button.cast.rounded.small{
    margin-bottom:2rem;
  }
  .product-container{
    overflow-y: auto;
    height: 100vh;
    margin-top: 1rem;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar{
      display: none;
    }
  }
  .accordion-content{
    position:relative;
    height:auto;
    .orbit li{
      //min-height:600px;
      display:block;
    }
    *{
      //  font-size:80%;
      //  margin-bottom:.5rem;
    }
  }
  .appreciations-slider{
    h5{
      margin-bottom:.5rem;
      color:$primary-color;
      font-weight: 600;
    }
    span{
      color:$dark-gray;
      font-weight: 400;
      i{
        //color:$identity-color;
      }
    }
  }
  .finishing-list{
    h6{
      margin:0;
    }
    li{
      &:active{
      }
    }
    button{
      margin:.5rem;
      cursor:pointer;
      -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.25);
      -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.25);
      box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.25);
      height:25px;
      width:25px;
      border-radius: 50%;
      padding:0;
    }
  }
  .thumbnails-nav{
    a{
      border:3px solid $white;
      margin-bottom:.25rem;
      padding:0;
    }
    a.is-active{
      //border:3px solid $identity-color;
    }
    img{
      margin-bottom:0;
    }
  }
  .popup-gallery a{
    display:block;
  }
}
.finishing-tooltip{
  padding:.25rem;
  //background-color:$identity-color;
  background-color:$black;
  color:$white;
  max-width:calc(100px + 0.5rem);
  border-radius:4px;
  z-index: 6;
  h4{
    text-align: center;
    font-size:90%;
    font-weight: 600;
    //margin-bottom:0;
  }
  div{
    height:100px;
    width:100%;
  }
  &::before {
    position: absolute;
    @include css-triangle($tooltip-pip-width, $tooltip-background-color, down);
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 40em) {
  section.product-detail  .rating-block{
    margin-bottom: 1rem;
    .rating-block-rating{
      margin:0;
    }
  }
}



@import 'themes-config.scss';

@include themify($themes) {
  .appreciations-slider i{
    color:themed('primary');
  }
  .thumbnails-nav a.is-active{
    border:3px solid themed('primary');
  }
}
