<div class="container">
    <div class="container-email">
        <div class="image-logo">
            <img src="../../assets/img/footer/grupograca-black.png">
        </div>
        <div class="process-request pre-request selected">
            <h3>
                Aguardando Pré-pagamento
            </h3>
            <span>Pedido Nº 1717178888</span>
        </div>
    </div>
    <h4 class="greetings">Olá,<span class="client-name"> Eduardo.</span> </h4>
    <h5 class="greetings-info">
        Obrigado por comprar na gracainteriores.com . Neste momento estamos
        aguardando o Pré-pagamento de seu pedido.
    </h5>
    <span class="resume-resquest">Resumo do Pedido:</span>
    <div class="cart-item-wrp">
        <div class="cart-item">
            <div class="item-information">
                <ul>
                    <li></li>
                    <li>Produto</li>
                    <li>Qtd</li>
                    <li>Preço Unid</li>
                    <li>Preço Total</li>
                </ul>
            </div>
            <div class="grid-x">
                <div class="cell small-5">
                    <a href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">
                        <img src="https://qlt.graca.pt/public/imagesDB/ProdutosFotos/84/137098_chaise-longue_S.jpg" />
                    </a>
                </div>
                <div class="cell auto info ">
                    <div class="item-info">
                        <a class="name" href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511"> Sofá
                            Chaise Rolph
                        </a>
                        <a class="category" href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">
                            Avelina&nbsp;9611 | Ferro Lacado / AVELINA-9611
                        </a>
                    </div>
                    
                    <div class="item-count-and-price">
                        <div class="item-final-price">
                            <span class="price"> 02</span>
                        </div>
                    </div>
                    <div class="item-count-and-price">
                        <div class="item-final-price">
                            <span class="price">2.354,00€</span>
                        </div>
                    </div>
                    <div class="item-count-and-price">
                        <div class="item-final-price">
                            <span class="price">4.708,00€</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-x">
                <div class="cell small-5">
                    <a href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">
                        <img src="https://qlt.graca.pt/public/imagesDB/ProdutosFotos/84/137098_chaise-longue_S.jpg" />
                    </a>
                </div>
                <div class="cell auto info ">
                    <div class="item-info">
                        <a class="name" href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">Sofá
                            Chaise Rolph
                        </a>
                        <a class="category" href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">
                            Avelina&nbsp;9611 | Ferro Lacado / AVELINA-9611
                        </a>
                    </div>
                    <div class="item-count-and-price">
                        <div class="item-final-price">
                            <span class="price"> 02</span>
                        </div>
                    </div>
                    <div class="item-count-and-price">
                        <div class="item-final-price">
                            <span class="price">2.354,00€</span>
                        </div>
                    </div>
                    <div class="item-count-and-price">
                        <div class="item-final-price">
                            <span class="price">4.708,00€</span>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
        <h6>Total Encomenda : <span >6.062,00€</span></h6>
    </div>
</div>



<div class="container">
    <div class="container-email">
        <div class="image-logo">
            <img src="../../assets/img/footer/grupograca-black.png">
        </div>
        <div class="process-request payment-done selected">
            <h3>
                Pagamento Efetuado
            </h3>
            <span>Pedido Nº 1717178888</span>
        </div>
    </div>
      <h4 class="greetings">Olá,<span class="client-name"> Eduardo.</span> </h4>
    <h5  class="greetings-info">
        Obrigado por comprar na gracainteriores.com . Confirmamos seu pagamento
        de seu pedido.
    </h5>
    <span class="resume-resquest">Resumo do Pedido:</span>
    <div class="cart-item-wrp">
        <div class="cart-item">
            <div class="item-information">
                <ul>
                    <li></li>
                    <li>Produto</li>
                    <li>Qtd</li>
                    <li>Preço Unid</li>
                    <li>Preço Total</li>
                </ul>
            </div>
            <div class="grid-x">
                <div class="cell small-5">
                    <a href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">
                        <img src="https://qlt.graca.pt/public/imagesDB/ProdutosFotos/84/137098_chaise-longue_S.jpg" />
                    </a>
                </div>
                <div class="cell auto info ">
                    <div class="item-info">
                        <a class="name" href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">02x Sofá
                            Chaise Rolph
                        </a>
                        <a class="category" href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">
                            Avelina&nbsp;9611 | Ferro Lacado / AVELINA-9611
                        </a>
                    </div>
                    <div class="item-count-and-price">
                        <div class="item-final-price">
                            <span class="price">4.708,00€</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-x">
                <div class="cell small-5">
                    <a href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">
                        <img src="https://qlt.graca.pt/public/imagesDB/ProdutosFotos/84/137098_chaise-longue_S.jpg" />
                    </a>
                </div>
                <div class="cell auto info ">
                    <div class="item-info">
                        <a class="name" href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">02x Sofá
                            Chaise Rolph
                        </a>
                        <a class="category" href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">
                            Avelina&nbsp;9611 | Ferro Lacado / AVELINA-9611
                        </a>
                    </div>
                    <div class="item-count-and-price">
                        <div class="item-final-price">
                            <span class="price">4.708,00€</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <h6>Total Encomenda : <span >6.062,00€</span></h6>
    </div>
</div>

<div class="container">
    <div class="container-email">
        <div class="image-logo">
            <img src="../../assets/img/footer/grupograca-black.png">
        </div>
        <div class="process-request send-confirmation selected">
            <h3>
                Confirmação de Envio
            </h3>
            <span>Pedido Nº 1717178888</span>
        </div>
    </div>
      <h4 class="greetings">Olá,<span class="client-name"> Eduardo.</span> </h4>
    <h5  class="greetings-info">
        Obrigado por comprar na gracainteriores.com . Sua compra foi enviada e
        já está a caminho.
    </h5>
    <span class="resume-resquest">Resumo do Pedido:</span>
    <div class="cart-item-wrp">
        <div class="cart-item">
            <div class="item-information">
                <ul>
                    <li></li>
                    <li>Produto</li>
                    <li>Qtd</li>
                    <li>Preço Unid</li>
                    <li>Preço Total</li>
                </ul>
            </div>
            <div class="grid-x">
                <div class="cell small-5">
                    <a href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">
                        <img src="https://qlt.graca.pt/public/imagesDB/ProdutosFotos/84/137098_chaise-longue_S.jpg" />
                    </a>
                </div>
                <div class="cell auto info ">
                    <div class="item-info">
                        <a class="name" href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">02x Sofá
                            Chaise Rolph
                        </a>
                        <a class="category" href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">
                            Avelina&nbsp;9611 | Ferro Lacado / AVELINA-9611
                        </a>
                    </div>
                    <div class="item-count-and-price">
                        <div class="item-final-price">
                            <span class="price">4.708,00€</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-x">
                <div class="cell small-5">
                    <a href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">
                        <img src="https://qlt.graca.pt/public/imagesDB/ProdutosFotos/84/137098_chaise-longue_S.jpg" />
                    </a>
                </div>
                <div class="cell auto info ">
                    <div class="item-info">
                        <a class="name" href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">02x Sofá
                            Chaise Rolph
                        </a>
                        <a class="category" href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">
                            Avelina&nbsp;9611 | Ferro Lacado / AVELINA-9611
                        </a>
                    </div>
                    <div class="item-count-and-price">
                        <div class="item-final-price">
                            <span class="price">4.708,00€</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <h6>Total Encomenda : <span >6.062,00€</span></h6>
    </div>
</div>

<div class="container">
    <div class="container-email">
        <div class="image-logo">
            <img src="../../assets/img/footer/grupograca-black.png">
        </div>
        <div class="process-request request-cancel selected">
            <h3>
               Pedido Cancelado
            </h3>
            <span>Pedido Nº 1717178888</span>
        </div>
    </div>
      <h4 class="greetings">Olá,<span class="client-name"> Eduardo.</span> </h4>
    <h5  class="greetings-info">
        Obrigado por comprar na gracainteriores.com . Seu pedido foi cancelado.
    </h5>
    <span class="resume-resquest">Resumo do Pedido:</span>
    <div class="cart-item-wrp">
        <div class="cart-item">
            <div class="item-information">
                <ul>
                    <li></li>
                    <li>Produto</li>
                    <li>Qtd</li>
                    <li>Preço Unid</li>
                    <li>Preço Total</li>
                </ul>
            </div>
            <div class="grid-x">
                <div class="cell small-5">
                    <a href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">
                        <img src="https://qlt.graca.pt/public/imagesDB/ProdutosFotos/84/137098_chaise-longue_S.jpg" />
                    </a>
                </div>
                <div class="cell auto info ">
                    <div class="item-info">
                        <a class="name" href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">02x Sofá
                            Chaise Rolph
                        </a>
                        <a class="category" href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">
                            Avelina&nbsp;9611 | Ferro Lacado / AVELINA-9611
                        </a>
                    </div>
                    <div class="item-count-and-price">
                        <div class="item-final-price">
                            <span class="price">4.708,00€</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-x">
                <div class="cell small-5">
                    <a href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">
                        <img src="https://qlt.graca.pt/public/imagesDB/ProdutosFotos/84/137098_chaise-longue_S.jpg" />
                    </a>
                </div>
                <div class="cell auto info ">
                    <div class="item-info">
                        <a class="name" href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">02x Sofá
                            Chaise Rolph
                        </a>
                        <a class="category" href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">
                            Avelina&nbsp;9611 | Ferro Lacado / AVELINA-9611
                        </a>
                    </div>
                    <div class="item-count-and-price">
                        <div class="item-final-price">
                            <span class="price">4.708,00€</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <h6>Total Encomenda : <span >6.062,00€</span></h6>
    </div>
</div>

<div class="container">
    <div class="container-email">
        <div class="image-logo">
            <img src="../../assets/img/footer/grupograca-black.png">
        </div>
        <div class="process-request request-done selected">
            <h3>
                Pedido Finalizado
            </h3>
            <span>Pedido Nº 1717178888</span>
        </div>
    </div>
      <h4 class="greetings">Olá,<span class="client-name"> Eduardo.</span> </h4>
    <h5  class="greetings-info">
        Obrigado por comprar na gracainteriores.com . Sua compra foi finalizada.
    </h5>
    <span class="resume-resquest">Resumo do Pedido:</span>
    <div class="cart-item-wrp">
        <div class="cart-item">
            <div class="item-information">
                <ul>
                    <li></li>
                    <li>Produto</li>
                    <li>Qtd</li>
                    <li>Preço Unid</li>
                    <li>Preço Total</li>
                </ul>
            </div>
            <div class="grid-x">
                <div class="cell small-5">
                    <a href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">
                        <img src="https://qlt.graca.pt/public/imagesDB/ProdutosFotos/84/137098_chaise-longue_S.jpg" />
                    </a>
                </div>
                <div class="cell auto info ">
                    <div class="item-info">
                        <a class="name" href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">02x Sofá
                            Chaise Rolph
                        </a>
                        <a class="category" href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">
                            Avelina&nbsp;9611 | Ferro Lacado / AVELINA-9611
                        </a>
                    </div>
                    <div class="item-count-and-price">
                        <div class="item-final-price">
                            <span class="price">4.708,00€</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-x">
                <div class="cell small-5">
                    <a href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">
                        <img src="https://qlt.graca.pt/public/imagesDB/ProdutosFotos/84/137098_chaise-longue_S.jpg" />
                    </a>
                </div>
                <div class="cell auto info ">
                    <div class="item-info">
                        <a class="name" href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">02x Sofá
                            Chaise Rolph
                        </a>
                        <a class="category" href="https://qlt.graca.pt/movel/chaise-longue-sofa-chaise-rolph/10511">
                            Avelina&nbsp;9611 | Ferro Lacado / AVELINA-9611
                        </a>
                    </div>
                    <div class="item-count-and-price">
                        <div class="item-final-price">
                            <span class="price">4.708,00€</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <h6>Total Encomenda : <span >6.062,00€</span></h6>
    </div>
</div>