section.project-detail{
  padding:$section-padding;
  img{
    margin-bottom:2rem;
  }
  h4{
    //font-family: 'questa-grande-regular-webfont';
    font-weight: 600;
    font-size:1.75rem;
  }
  h6{
    font-size:.75rem;
  }
  p{
    padding:0 2.5rem;
    font-size:.75rem;
  }
}
