<section class="subscribe-newsletter sized" id="subscribe">
  <div class="grid-container">
    <div class="grid-x align-center text-center">
      <div class="cell small-12 section-header">
        <h3>Subscreva a nossa Newsletter</h3>
        <h6>ESTARÁS AO CORRENTE DAS NOSSAS NOVIDADES E DO LANÇAMENTO DE TODAS AS COLEÇÕES.</h6>
      </div>
    </div>
    <form>
      <div class="send-email">
      <div class="grid-x grid-margin-x align-center">
        <div class="small-8 medium-4 cell float-label">
          <input type="text" placeholder=" ">
          <label for="checkbox-subscribe-rgpd">Email</label>
        </div>
        <div class="small-8 medium-4 cell">
          <input id="checkbox-subscribe-rgpd" type="checkbox">
          <label for="checkbox-subscribe-rgpd">Lí e aceito a
            <a href="#">Política de Privacidade</a>
          </label>
        </div>
      </div>
        <div class="cell shrink">
          <button type="submit" class="cast button rounded small">Subscrever<i class="icon-arrow_forward"></i></button>
        </div>
      </div>
    </form>
  </div>
</section>
