section.before-after-list{
  //padding:$section-padding;
  .text-content{
    padding:3rem;
    h3{
      font-family: 'questa-grande-regular-webfont';
    }
    p{
      font-size:.8rem;
      max-width:40rem;
    }
  }
  a.button{
    font-size: .9rem;
    width: 180px;
    font-weight: bold;
    i{
      font-size: 1rem;
      margin-top: 6px!important;
    }
  }
}
