section.information-highlights{

  background-color:lighten($light-gray,4%);
  border-top:1px solid $medium-gray;
  border-bottom:1px solid $medium-gray;
  margin-bottom:2em;
  padding:.5rem 0;
  p{
    font-size:.7rem;
    color:$dark-gray;
    margin:0;
  }
  h5{
    font-size:.9rem;
    font-weight: 600;
    color:lighten($primary-color, 5%);
    margin:0;
  }
  i{
    font-size:1.75rem;
   }
  .information-highlights-slider{
    .slick-slide{
      margin:0 1.5rem;
      padding:0 1rem;
    }
  }
  .info{

  }
  .title{
    margin-bottom:.5rem;
  }
}
