section.partners{
  padding:$section-padding;
  border-top:1px solid lightgray;
  border-bottom:1px solid lightgray;
  .partners-slider{
    .slick-slide{
      margin:2rem;
      padding: 0 2.5rem;
    }
  }
}
 
